$icon-size: 30px;

$col-red: #ff3860;
$col-red-h: #cf1a3e;
$col-blue: #209cee;
$col-blue-h: #1b89d3;
$col-dark: #1d1d1d;
$col-dark-h: #2e2d2d;
$col-prim: #00d1b2;
$col-prim-h: #02b69b;
$col-action-border: lightgray;
$col-action-border-h: darkgray;

$col-background-about: $col-dark;
$col-foreground-about: #f1f1f1;

$about-width: 400px;

$padding-base: 15px;
$padding-half: 8px;

$media-trigger: 1000px;
